.total-review-count-label {
    color: white;
}

.album-count-text{
    font-family: monospace;
    text-align: center;
    background-color: white;
    color: black;
}

.stats-page-col {
    height: 100%;
    overflow: auto;
}



.artists-table-container {
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}
.data-container {
    height: 100%;
    display: flex;
    overflow: auto;
    /* border: 2px solid red; */
}