.total-review-count-label {
    color: white;
}

.data-container {
    height: 85%;
    width: 100%;
    display: flex;
    overflow: hidden;

}

.stats-page-col {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: auto;
}

.stats-container {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
    max-height: 40%;
    overflow: hidden;
    text-align: center;
}

.artists-table-container {
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    text-align: center;
}