.album-full-view-container {

    margin: auto;
    background-color: #191919;
    color: white;
    padding: 5px;
    font-family: monospace;
    font-size: .9em;
    overflow: auto;
}

@media (min-width: 767px) {
    .album-full-view-container {
        width: 60vw;
        height: 60vh;
    }
}

@media (max-width: 767px) {
    .album-full-view-container {
        border: 2px solid red;
        width: 80vw;
        height: 95vh;
    }
}