.spotify-results-step {
    width: 50%;
    height: 80%;
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    font-family: monospace;
    background-color: #2A547E;
}

.results-row {
    display: flex;
    justify-content: center;
    height: 88%;
    color: white !important;
}

.result-col {
    height: 33%;
    display: flex;
    align-items: center;

}

.result-card {
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;
    color: white !important;
    overflow: hidden;
    background-color: #1F2041 !important;
}

.result-card-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.result-cover-image {
    height: auto;
    width: 5em;
    border: 2px solid white;
    margin-bottom: 5px;
}

.select-button {
    background-color: #2A547E;
    ;
}