.add-review-form {
    width: 60%;
    height: 80%;
    overflow: auto;
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    font-family: monospace;
    background-color: #2A547E;

}

.review-form-control {
    margin-top: 10px;
}


.review-form-label {
    color: white;
}

@media only screen and (max-width: 600px) {
    .review-form-label {
        text-align: center;
    }

}



.text-centered {
    text-align: center;
}

.review-form-input {
    font-family: monospace !important;
}

.review-form-submit-button {
    background-color: #5CB176 !important;
    font-weight: bolder;
    font-size: 2em;
    font-family: monospace;
    color: white;
}

.review-form-submit-button:hover {
    background-color: #5CB176 !important;
    opacity: 90%;
}