.add-review-form {
    width: 50%;

    padding: 10px;
    border-radius: 20px;
    margin: auto;
    font-family: monospace;
    background-color: #301934;

}

.review-form-label {
    margin: 5px;
    color: white;
}

@media only screen and (max-width: 600px) {
    .review-form-label {
        text-align: center;
    }

}



.text-centered {
    text-align: center;
}

.review-form-input {
    font-family: monospace !important;
}